In [22]:
import os
import csv
import nltk
import pandas as pd
import re

from tqdm import tqdm

In [23]:
folder_path = "/Users/osama/Documents/finalNlu/data/dataSplitting/"

file_paths = []

directory = os.path.join(folder_path)
for root,dirs,files in os.walk(directory):
    for file in files:
       if file.endswith(".csv") and file.startswith("subset"):
           file_paths.append(file)

In [24]:
file_paths

['subset_with_title_less_than_512_double_comment.csv',
 'subset_without_title_less_than_1024_double_comment.csv',
 'subset_without_title_less_than_512_single_comment.csv',
 'subset_with_title_less_than_1024_double_comment.csv',
 'subset_with_title_less_than_512_single_comment.csv',
 'subset_without_title_less_than_1024_single_comment.csv',
 'subset_without_title_less_than_512_double_comment.csv',
 'subset_with_title_less_than_1024_single_comment.csv']

In [25]:
for file_path in file_paths:

    file_location = folder_path + file_path

    # Read file
    df = pd.read_csv(file_location)

    new_file = "balanced_" + file_path

    # Prepare write file
    file = open(new_file,"w",encoding="utf-8", newline="") 
    writer = csv.writer(file, quoting=csv.QUOTE_ALL)
    writer.writerow(["id", "text", "verdict", "comment", "score"])


    df['verdict'] = df['verdict'].apply(lambda x: 0 if x in ['nta', 'nah'] else 1) 

    
    nta_count = df['verdict'].value_counts()[0]
    yta_count = df['verdict'].value_counts()[1]

    print("Filename:", new_file)
    print("Number of nta original:", nta_count)
    print("Number of yta original:", yta_count)

    df = df.sort_values(by=['score'], ascending=False)

    nta_counter = 0
    yta_counter = 0

    for index, row in tqdm(df.iterrows()):

        id = row['id']
        text = row['text']
        verdict = row['verdict']
        comment = row['comment']
        score = row['score']

        if verdict == 0 and nta_counter == yta_count:
            continue
        elif verdict == 0:
            nta_counter += 1
        else:
            yta_counter += 1

        row = [id, text, verdict, comment, score]

        writer.writerow(row)

    file.close()

    
    print("Number of nta new dataset:", nta_counter)
    print("Number of yta new dataset:", yta_counter)
    print()

Filename: balanced_subset_with_title_less_than_512_double_comment.csv
Number of nta original: 282688
Number of yta original: 79878

362566it [00:11, 31595.87it/s]

Number of nta new dataset: 79878
Number of yta new dataset: 79878

Filename: balanced_subset_without_title_less_than_1024_double_comment.csv
Number of nta original: 430536
Number of yta original: 107984

538520it [00:18, 28665.21it/s]

Number of nta new dataset: 107984
Number of yta new dataset: 107984

Filename: balanced_subset_without_title_less_than_512_single_comment.csv
Number of nta original: 145617
Number of yta original: 40950

186567it [00:05, 31711.15it/s]

Number of nta new dataset: 40950
Number of yta new dataset: 40950

Filename: balanced_subset_with_title_less_than_1024_double_comment.csv
Number of nta original: 430374
Number of yta original: 107952

538326it [00:17, 30436.04it/s]

Number of nta new dataset: 107952
Number of yta new dataset: 107952

Filename: balanced_subset_with_title_less_than_512_single_comment.csv
Number of nta original: 141344
Number of yta original: 39939

181283it [00:05, 32023.76it/s]

Number of nta new dataset: 39939
Number of yta new dataset: 39939

Filename: balanced_subset_without_title_less_than_1024_single_comment.csv
Number of nta original: 215268
Number of yta original: 53992

269260it [00:08, 30308.33it/s]

Number of nta new dataset: 53992
Number of yta new dataset: 53992

Filename: balanced_subset_without_title_less_than_512_double_comment.csv
Number of nta original: 291234
Number of yta original: 81900

373134it [00:11, 31815.32it/s]

Number of nta new dataset: 81900
Number of yta new dataset: 81900

Filename: balanced_subset_with_title_less_than_1024_single_comment.csv
Number of nta original: 215187
Number of yta original: 53976

269163it [00:09, 29874.61it/s]

Number of nta new dataset: 53976
Number of yta new dataset: 53976