In [1]:
import csv
import nltk
import pandas as pd
import re

from nltk.tokenize import word_tokenize
from tqdm import tqdm

nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/osama/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
# Read file
df = pd.read_csv('/Users/osama/Documents/finalNlu/data/dataCleaning/cleaned_dataset.csv')

# Prepare write file
# file = open('subset_less_than_512_unbalanced_with_title.csv',"w",encoding="utf-8", newline="") 
# writer = csv.writer(file, quoting=csv.QUOTE_ALL)
# writer.writerow(["id", "title", "text", "verdict", "comment", "score"])

In [6]:
df['title'] = df['title'].apply(lambda x: x.strip()) 
df['text'] = df['text'].apply(lambda x: x.strip()) 
df['titleAndText'] =  df['title'] + " " + df['text']

In [7]:
df['titleAndTextLength'] = df['titleAndText'].apply(lambda x: len(word_tokenize(x)))
df['textLength'] = df['text'].apply(lambda x: len(word_tokenize(x)))

In [9]:
df['comment1Length'] = df['comment1'].apply(lambda x: len(word_tokenize(x)))
df['comment2Length'] = df['comment2'].apply(lambda x: len(word_tokenize(x)))

In [11]:
df['comment1Length'].describe()

count    270709.000000
mean         60.746806
std          52.982319
min           5.000000
25%          28.000000
50%          47.000000
75%          77.000000
max        1325.000000
Name: comment1Length, dtype: float64

In [12]:
df['comment2Length'].describe()

count    270709.000000
mean         63.074556
std          55.645120
min           5.000000
25%          28.000000
50%          48.000000
75%          80.000000
max        1482.000000
Name: comment2Length, dtype: float64

In [10]:
df.head(1)

,id,title,text,verdict,comment1,comment2,score,titleAndText,titleAndTextLength,textLength,comment1Length,comment2Length
0,4pcrle,aita for wanting to celebrate my birthday,i turned 30 on monday. i don't have a problem ...,nta,"i think you know your nta, it seems like you j...",definitely nta. i suffer from depression and a...,15,aita for wanting to celebrate my birthday i tu...,475,468,194,42

In [13]:
df.to_csv("dataset_with_length_of_fields.csv")